<div class="container" style="padding-top:20px;">
  <div class="row">
    <div class="col-md-10  ">
      <h3 class="section-title" style="font-size:45px;"><strong>Happy volunteer</strong></h3>
      <p> Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind
        texts.Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the
        blind texts.Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live
        the blind texts.</p>
        <div style="text-align: center;"><a href="Sign%20in.html"><button class="log">LogIn</button></a></div>
      <br>
      <br>
    </div>

    <div class="col-md-2 ">
      <p><img src="assets/images/cover_bg_6.jpg" alt="Free HTML5 Bootstrap Template" style="border-radius:200px;"
          class="img-responsive"></p>
    </div>
  </div>

</div>
<div id="fh5co-features" style="background:#00b964; color:#fff;">
  <div style="text-align: center;">
    <div class="container">
      <div class="row">
        <div class="col-md-4 text-center">

          <div class="feature-left ">
            <div class="volunteer">
              <div class="feature-copy">
                <h1 style="color:#fff; "><strong>Employee Volunteer</strong></h1>
                <p style="color:#fff;">Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit.</p>
                <a href="loginForm.html"><button class="vol">Sign up</button></a>
              </div>
            </div>
          </div>

        </div>

        <div class="col-md-4 text-center">
          <div class="feature-left">
            <div class="volunteer">
              <div class="feature-copy">
                <h2 style="color:#fff;"><strong>Student Volunteer</strong></h2>
                <p style="color:#fff;">Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit.</p>
                <a href="loginForm.html"><button class="vol">Sign up</button></a>
              </div>
            </div>
          </div>

        </div>
        <div class="col-md-4 text-center">
          <div class="feature-left">
            <div class="volunteer">
              <div class="feature-copy">
                <h2 style="color:#fff;"><strong>Individual Volunteer</strong></h2>
                <p style="color:#fff;">Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit.</p>
                <a href="loginForm.html"><button class="vol">Sign up</button></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div style="text-align: center;">
  <br>
  <br>

  <h2><strong>Testimonial</strong></h2>
</div>
<br>
<br>
<br>
<div class="container">

  <div class="row">

    <div class="col-md-4">

      <div class="fh5co-testimonial text-center animate-box">

        <figure>
          <img src="assets/images/person_1.jpg" alt="user">
        </figure>
        <blockquote>
          <p>&ldquo;Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live
            the blind texts. Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
            there live the blind texts.&rdquo;</p>
        </blockquote>
        <span>Jean Doe, XYZ Co.</span>
      </div>

    </div>
    <div class="col-md-4">
      <div class="fh5co-testimonial text-center animate-box">
        <figure>
          <img src="assets/images/person_2.jpg" alt="user">
        </figure>
        <blockquote>
          <p>&ldquo;Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live
            the blind texts. Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
            there live the blind texts.&rdquo;</p>
        </blockquote>
        <span>Jean Doe, XYZ Co.</span>
      </div>

    </div>
    <div class="col-md-4">
      <div class="fh5co-testimonial text-center animate-box">
        <figure>
          <img src="assets/images/person_3.jpg" alt="user">
        </figure>
        <blockquote>
          <p>&ldquo;Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live
            the blind texts. Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
            there live the blind texts.&rdquo;</p>
        </blockquote>
        <span>Jean Doe, XYZ Co.</span>
      </div>

    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-md-offset-4 text-center animate-box">
      <a href="loginForm.html" class="btn btn-primary btn-lg">New Registration</a>
    </div>
  </div>
  <br>
</div>
<!-- fh5co-blog-section -->

<div class="fh5co-hero">
  <div class="fh5co-cover text-center" data-stellar-background-ratio="0.5"
    style="background-image: url(assets/images/cover_bg_18.jpg);">
    <div class="desc animate-box">
      <h2><strong>Become a </strong>volunteer</h2>
      <br>
      <br>
      <span><a class="btn btn-primary btn-lg" href="contact.php">Contact Us</a></span>
    </div>

  </div>

</div>
