<div class="fh5co-hero">
  <div class="fh5co-overlay"></div>
  <div class="fh5co-cover text-center" data-stellar-background-ratio="0.5"
    style="background-image: url(assets/images/cover_bg_9.jpg);">
    <div class="desc animate-box">
    <span><a class="btn btn-primary btn-lg" href="Donate.php">Donate Now</a></span>
    </div>
  </div>

</div>

<div id="fh5co-contact" class="animate-box">
  <div class="container" style="padding:20px;">
    <div class="row">
      <div class="col-md-12 text-center heading-section">
        <h3 class="section-title">Hungry For Change</h3>
        <p> Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the
          blind texts.Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there
          live the blind texts.Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
          there live the blind texts.</p>
      </div>
    </div>
    <div class="col-md-12 text-center animate-box">
      <p><img src="assets/images/bg_cover.jpg" alt="Free HTML5 Bootstrap Template" class="img-responsive"></p>
    </div>
  </div>

  <div id="fh5co-blog-section" class="fh5co-section-gray">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
          <h3>News and Blog</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit est facilis maiores, perspiciatis accusamus
            asperiores sint consequuntur debitis.</p>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row row-bottom-padded-md">
        <div class="col-lg-4 col-md-4 col-sm-6">
          <div class="fh5co-blog animate-box">
            <a href="#"><img class="img-responsive" src="assets/images/cover_bg_11.jpg" alt=""></a>
            <div class="blog-text">
              <div class="prod-title">
                <h3><a href="#" >Medical Mission in Kenya</a></h3>
                <span class="posted_by">Sep. 15th</span>
                <span class="comment"><a href="">21<i class="icon-bubble2"></i></a></span>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live
                  the blind texts.</p>
                <p><a href="#">Learn More...</a></p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
          <div class="fh5co-blog animate-box">
            <a href="#"><img class="img-responsive" src="assets/images/cover_bg_14.jpg" alt=""></a>
            <div class="blog-text">
              <div class="prod-title">
                <h3><a href="#">How to Storing food </a></h3>
                <span class="posted_by">Sep. 15th</span>
                <span class="comment"><a href="">21<i class="icon-bubble2"></i></a></span>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live
                  the blind texts.</p>
                <p><a href="#">Learn More...</a></p>
              </div>
            </div>
          </div>
        </div>
        <div class="clearfix visible-sm-block"></div>
        <div class="col-lg-4 col-md-4 col-sm-6">
          <div class="fh5co-blog animate-box">
            <a href="#"><img class="img-responsive" src="assets/images/cover_bg_17.jpg" alt=""></a>
            <div class="blog-text">
              <div class="prod-title">
                <h3><a href="#">Food For Life</a></h3>
                <span class="posted_by">Sep. 15th</span>
                <span class="comment"><a href="">21<i class="icon-bubble2"></i></a></span>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live
                  the blind texts.</p>
                <p><a href="#">Learn More...</a></p>
              </div>
            </div>
          </div>
        </div>
        <div class="clearfix visible-md-block"></div>
      </div>

      <div class="row">
        <div class="col-md-4 col-md-offset-4 text-center animate-box">
          <a href="blog/index.html" class="btn btn-primary btn-lg">Our Blog</a>
        </div>
      </div>
      <br>
    </div>

    <br>
    <div class="container" style="background:#fff;">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
          <br>
          <br>
          <h3>Understand The Issue</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit est facilis maiores, perspiciatis accusamus
            asperiores sint consequuntur debitis.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="feature-text">
            <h2><strong>Less Availabilty Food</strong> </h2>
            <p align="justify" style="font-size:18px;">Far far away, behind the word mountains, far from the countries
              Vokalia and Consonantia, there live the blind texts.Far far away, behind the word mountains, far from the
              countries Vokalia and Consonantia, there live the blind texts.Far far away, behind the word mountains, far
              from the countries Vokalia and Consonantia, there live the blind texts.Far far away, behind the word
              mountains, far from the countries Vokalia and Consonantia, there live the blind texts.Far far away, behind
              the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts</p>
          </div>
        </div>
        <div class="col-md-6">
          <img class="img-responsive" src="assets/images/cover_bg_11.jpg" alt="">
          <br>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <img class="img-responsive" src="assets/images/cover_bg_13.jpg" alt="">
        </div>
        <div class="col-md-6">
          <div class="feature-text"><br>
            <h2><strong>No Contribution</strong> </h2>
            <p align="justify" style="font-size:18px;">Far far away, behind the word mountains, far from the countries
              Vokalia and Consonantia, there live the blind texts.Far far away, behind the word mountains, far from the
              countries Vokalia and Consonantia, there live the blind texts.Far far away, behind the word mountains, far
              from the countries Vokalia and Consonantia, there live the blind texts.Far far away, behind the word
              mountains, far from the countries Vokalia and Consonantia, there live the blind texts.Far far away, behind
              the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts</p>
          </div>
          <br>
        </div>
      </div>
    </div>
    <br>
    <!-- END fh5co-contact -->

    <!-- END map -->





  </div>
  <!-- END fh5co-page -->

</div>
