<div class="fh5co-hero">
  <div class="fh5co-overlay"></div>
  <div class="fh5co-cover text-center" data-stellar-background-ratio="0.5"
    style="background-image: url(assets/images/cover_bg_2.jpg);">
    <div class="desc animate-box">
      <h2><strong>Contact</strong> Us</h2>
      <br>
      <span><a class="btn btn-primary btn-lg" href="Donate.php">Donate Now</a></span>
    </div>
  </div>

</div>

<div id="fh5co-contact" class="animate-box">
  <div class="container">
    <form action="#">
      <div class="row">
        <div class="col-md-6">
          <h3 class="section-title">Our Address</h3>
          <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the
            blind texts.</p>
          <ul class="contact-info">
            <li><i class="icon-location-pin"></i>1333, South Park Street</li>
            <li><i class="icon-phone2"></i>+ 902 9897890</li>
            <li><i class="icon-mail"></i><a href="#">kushrao16@gmail.com</a></li>
            <li><i class="icon-globe2"></i><a href="#">kushrao16@gmail.com</a></li>
          </ul>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Name">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Email">
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <textarea name="" class="form-control" id="" cols="30" rows="7" placeholder="Message"></textarea>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <input type="submit" value="Send Message" class="btn btn-primary">
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<!-- END fh5co-contact -->
<iframe
  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2838.865817323177!2d-63.58053718462939!3d44.64065937909991!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4b5a223139777da9%3A0x1154957ab41fc374!2s1333+South+Park+St%2C+Halifax%2C+NS+B3J+2K9!5e0!3m2!1sen!2sca!4v1549755481280"
  width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
<!-- END map -->
