<div class="fh5co-hero">
  <div class="fh5co-overlay"></div>
  <div class="fh5co-cover text-center" data-stellar-background-ratio="0.5"
    style="background-image: url(assets/images/cover_bg_11.jpg);">
    <div class="desc animate-box">
      <h2>Way To Give </h2>
      <br>
      <br>
      <span><a class="btn btn-primary btn-lg" href="#">Donate Now</a></span>
    </div>
  </div>

</div>

<div id="fh5co-blog-section" class="fh5co-section-gray">
  <div class="container">
    <div class="row">
      <div class="col-md-8   animate-box">
        <h3 style="font-size:40px;"><b>Way To Give </b></h3>
        <h3 style="font-size:50px; color:#225b50"><b>Value of life depends not on your possessions, but on <br>your
            donation.</b></h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit est facilis maiores, perspiciatis accusamus
          asperiores sint consequuntur debitis.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit est
          facilis maiores, perspiciatis accusamus asperiores sint consequuntur debitis.</p>
        <br><a href="Donate.php" class="btn btn-primary btn-lg">Donate</a>
      </div>

      <div class="col-md-4   animate-box">
        <p><img src="assets/images/cover_bg_6.jpg" alt="Free HTML5 Bootstrap Template" style="border-radius:200px;"
            class="img-responsive"></p>
      </div>
    </div>
  </div>
</div>
