<div class="fh5co-hero">
  <div class="fh5co-cover text-center" data-stellar-background-ratio="0.5"
    style="background-image: url(assets/images/cover_bg_10.jpg);">
    <div class="desc animate-box">
      <h2><strong>Research and Statistics</strong></h2>
      <br>
      <br>
      <span><a class="btn btn-primary btn-lg" href="/volunteer">Be a Volunteer</a></span>
    </div>

  </div>

</div>
<div class="container" style="padding-top:20px;">
  <div class="row">
    <div class="col-md-12 text-center heading-section">
      <h3 class="section-title">Research and Statistics</h3>
      <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind
        texts.</p>
    </div>
  </div>

  <h2 style="text-align:left;">Hunger Facts
    <hr style="border-width:1px; border-color:#888;">
  </h2>
  <div class="research"
    style="background:linear-gradient(to right, rgba(11, 11, 11,.7), rgb(11, 11, 11 ,.8)),  url(assets/images/R&S.jpg);">
    <ol align="justify"
      style="color:#fff; padding-left:40px; padding-right:20px; padding-top:20px; padding-bottom: 20px;">
      <li>Hunger remains the No.1 cause of death in the world. Aids, Cancer etc. follow.</li>
      <li>There are 820 million chronically hungry people in the world.</li>
      <li>1/3rd of the worldÂ’s hungry live in India.</li>
      <li>836 million Indians survive on less than Rs. 20 a day.</li>
      <li>Over 20 crore Indians will sleep hungry tonight.</li>
      <li>10 million people die every year of chronic hunger and hunger-related diseases. Only eight percent are the
        victims of hunger caused by high-profile earthquakes, floods, droughts and wars.</li>
      <li>India has 212 million undernourished people Â– only marginally below the 215 million estimated for 1990Â–92.
      </li>
      <li>99% of the 1000 Adivasi households from 40 villages in the two states, who comprised the total sample,
        experienced chronic hunger. Almost as many had lived in conditions of semi-starvation during the previous month.
      </li>
      <li>Over 7000 Indians die of hunger every day.</li>
      <li>Over 25 lakh Indians die of hunger every year.</li>
      <li>Despite substantial improvement in health since independence and a growth rate of 8 percent in recent years,
        under-nutrition remains a silent emergency in India, with almost 50 percent of Indian children underweight and
        more than 70 percent of the women and children with serious nutritional deficiencies as anemia.</li>
      <li>The 1998 Â– 99 Indian survey shows 57 percent of the children aged 0 Â– 3 years to be either severely or
        moderately stunted and/or underweight.</li>
      <li>During 2006 Â– 2007, malnutrition contributed to seven million Indian children dying, nearly two million
        before the age of one.</li>
      <li>30% of newborn are of low birth weight, 56% of married women are anaemic and 79% of children age 6-35 months
        are anaemic.</li>
      <li>The number of hungry people in India is always more than the number of people below official poverty line
        (while around 37% of rural households were below the poverty line in 1993-94, 80% of households suffered under
        nutrition).</li>
    </ol>
  </div>

</div>
