<div id="fh5co-wrapper">
  <div id="fh5co-page">
    <header id="header-section" class="sticky-banner">
      <div class="container">
        <div class="nav-header">
          <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle dark"><i></i></a>
          <a href=""><img src="assets/images/logo.jpeg" class="logo-pc" style="width:10%;  border-radius: 50%"></a>
          <!-- START #fh5co-menu-wrap -->
          <nav id="fh5co-menu-wrap" role="navigation">
            <ul class="sf-menu" id="fh5co-primary-menu">
              <li><a href="/aboutus">About US</a></li>
              <li><a href="/needfood">Need Food?</a></li>
              <li><a href="/volunteer">Volunteer</a></li>
              <li><a href="/researchStatistics">Research & Statistics</a></li>
              <li><a href="/hungry">Hungry For Change</a></li>
              <li>
                <div class="dropdown">
                  <a href="/wayToGive">Way To Give</a>
                  <div class="dropdown-content">
                    <a href="/needfood">Make a Donation</a>
                    <a href="/needfood">Doante Food</a>
                    <a href="/needfood">Organise a event</a>
                  </div>
                </div>
              </li>
            </ul>
            <a href="/donate"><button class="hBut">Donate Now</button></a>
          </nav>
        </div>
      </div>
    </header>

    <router-outlet></router-outlet>
    <footer>
      <div id="footer">
        <!--Start of Tawk.to Script-->
        <!-- <script>
          var Tawk_API = Tawk_API || {},
            Tawk_LoadStart = new Date();
          (function () {
            var s1 = document.createElement("script"),
              s0 = document.getElementsByTagName("script")[0];
            s1.async = true;
            s1.src = 'https://embed.tawk.to/5c5ec1407cf662208c94c8f6/default';
            s1.charset = 'UTF-8';
            s1.setAttribute('crossorigin', '*');
            s0.parentNode.insertBefore(s1, s0);
          })();

        </script> -->
        <!--End of Tawk.to Script-->

        <div class="container">
          <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
              <p class="fh5co-social-icons">
                <a href="#"><i class="icon-twitter2"></i></a>
                <a href="#"><i class="icon-facebook2"></i></a>
                <a href="#"><i class="icon-instagram"></i></a>
                <a href="#"><i class="icon-dribbble2"></i></a>
                <a href="#"><i class="icon-youtube"></i></a>
              </p>
              <p>Copyright @ 2019<a href="#"> Charity</a>. All Rights Reserved.</p>
            </div>
          </div>
        </div>
      </div>
    </footer>
