<div class="fh5co-hero">
  <div class="fh5co-overlay"></div>
  <div class="fh5co-cover text-center" data-stellar-background-ratio="0.5"
    style="background-image: url(assets/images/cover_bg_1.jpg);">
    <div class="desc animate-box">
      <h2><strong>DONATE FOR</strong> THE POOR CHILDREN </h2>
      <br>
      <span><a class="btn btn-primary btn-lg" href="/volunteer">Become a Volunteer</a></span>
    </div>
  </div>
</div>
<!-- end:header-top -->
<div id="fh5co-features">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="feature-left">
          <span class="icon">
            <i class="icon-profile-male"></i>
          </span>
          <div class="feature-copy">
            <h3>Become a volunteer</h3>
            <p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit.</p>
            <p><a href="signup.php">Register</a></p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="feature-left">
          <span class="icon">
            <i class="icon-happy"></i>
          </span>
          <div class="feature-copy">
            <h3>Become a Reciever </h3>
            <p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit.</p>
            <p><a href="signup.php">Register</a></p>
          </div>
        </div>

      </div>
      <div class="col-md-4">
        <div class="feature-left">
          <span class="icon">
            <i class="icon-wallet"></i>
          </span>
          <div class="feature-copy">
            <h3>Donation</h3>
            <p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit.</p>
            <p><a href="signup.php">Register</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="fh5co-feature-product" class="fh5co-section-gray">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center heading-section">
        <h3>About Us</h3>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind
          texts.</p>
      </div>
    </div>

    <div class="row row-bottom-padded-md">
      <div class="col-md-8 text-center animate-box">
        <p><img src="assets/images/cover_bg_4.jpg" alt="Free HTML5 Bootstrap Template" class="img-responsive"></p>
      </div>
      <div class="col-md-4 text-center animate-box">
        <p><img src="assets/images/bg_12.jpg" alt="Free HTML5 Bootstrap Template" class="img-responsive" style="Height:510px;">
        </p>

      </div>
      <div class="col-md-6 text-center animate-box">
        <p><img src="assets/images/cover_bg_3.jpg" alt="Free HTML5 Bootstrap Template" class="img-responsive"></p>
      </div>
      <div class="col-md-6 text-center animate-box">
        <p><img src="assets/images/cover_bg_2.jpg" alt="Free HTML5 Bootstrap Template" class="img-responsive"></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="feature-text">
          <h3>Love</h3>
          <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the
            blind texts.</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="feature-text">
          <h3>Compassion</h3>
          <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the
            blind texts.</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="feature-text">
          <h3>Charity</h3>
          <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the
            blind texts.</p>
        </div>
      </div>
    </div>
  </div>
</div>


<div id="fh5co-portfolio">
  <div class="container">

    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center heading-section animate-box">
        <a name="gallery"></a>
        <h3>Our Gallery</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit est facilis maiores, perspiciatis accusamus
          asperiores sint consequuntur debitis.</p>
      </div>
    </div>


    <div class="row row-bottom-padded-md">
      <div class="col-md-12">
        <ul id="fh5co-portfolio-list">

          <li class="two-third animate-box" data-animate-effect="fadeIn"
            style="background-image: url(assets/images/cover_bg_5.jpg); ">
            <a href="#" class="color-3">
              <div class="case-studies-summary">
                <span>Give Love</span>
                <h2>Served Over 1 Million People </h2>
              </div>
            </a>
          </li>

          <li class="one-third animate-box" data-animate-effect="fadeIn"
            style="background-image: url(assets/images/cover_bg_6.jpg); ">
            <a href="#" class="color-4">
              <div class="case-studies-summary">
                <span>Give Love</span>
                <h2>Donation is caring</h2>
              </div>
            </a>
          </li>

          <li class="one-third animate-box" data-animate-effect="fadeIn"
            style="background-image: url(assets/images/cover_bg_7.jpg); ">
            <a href="#" class="color-5">
              <div class="case-studies-summary">
                <span>Give Love</span>
                <h2>Contribute to them</h2>
              </div>
            </a>
          </li>
          <li class="two-third animate-box" data-animate-effect="fadeIn"
            style="background-image: url(assets/images/cover_bg_8.jpg); ">
            <a href="#" class="color-6">
              <div class="case-studies-summary">
                <span>Give Love</span>
                <h2>Our Supportive Volunteer</h2>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div id="fh5co-content-section" class="fh5co-section-gray">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
        <h3>Our Volunteers</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit est facilis maiores, perspiciatis accusamus
          asperiores sint consequuntur debitis.</p>
      </div>
    </div>
  </div>
  <br>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="fh5co-testimonial text-center animate-box">
          <figure>
            <img src="assets/images/person_1.jpg" alt="user">
          </figure>
          <blockquote>
            <p>&ldquo;Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there
              live the blind texts. Far far away, behind the word mountains, far from the countries Vokalia and
              Consonantia, there live the blind texts.&rdquo;</p>
          </blockquote>
          <span>Jean Doe, XYZ Co.</span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="fh5co-testimonial text-center animate-box">
          <figure>
            <img src="assets/images/person_2.jpg" alt="user">
          </figure>
          <blockquote>
            <p>&ldquo;Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there
              live the blind texts. Far far away, behind the word mountains, far from the countries Vokalia and
              Consonantia, there live the blind texts.&rdquo;</p>
          </blockquote>
          <span>John Micheal, XYZ Co.</span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="fh5co-testimonial text-center animate-box">
          <figure>
            <img src="assets/images/person_3.jpg" alt="user">
          </figure>
          <blockquote>
            <p>&ldquo;Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there
              live the blind texts. Far far away, behind the word mountains, far from the countries Vokalia and
              Consonantia, there live the blind texts.&rdquo;</p>
          </blockquote>
          <span>Robert Smith, XYZ Co.</span>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- fh5co-content-section -->

<div id="fh5co-services-section">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
        <h3>Our Projects. Support Us</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit est facilis maiores, perspiciatis accusamus
          asperiores sint consequuntur debitis.</p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row text-center">
      <div class="col-md-4 col-sm-4">
        <div class="services animate-box">
          <span><i class="icon-heart"></i></span>
          <h3>Water Project In Kenya</h3>
          <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the
            blind texts.</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="services animate-box">
          <span><i class="icon-heart"></i></span>
          <h3>Shelter Giving</h3>
          <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the
            blind texts.</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="services animate-box">
          <span><i class="icon-heart"></i></span>
          <h3>Food For Life</h3>
          <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the
            blind texts.</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="services animate-box">
          <span><i class="icon-heart"></i></span>
          <h3>Food charity by kids</h3>
          <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the
            blind texts.</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="services animate-box">
          <span><i class="icon-heart"></i></span>
          <h3>Water Project In Kenya</h3>
          <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the
            blind texts.</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="services animate-box">
          <span><i class="icon-heart"></i></span>
          <h3>Food storage</h3>
          <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the
            blind texts.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- END What we do -->


<div id="fh5co-blog-section" class="fh5co-section-gray">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
        <h3>Recent From Blog</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit est facilis maiores, perspiciatis accusamus
          asperiores sint consequuntur debitis.</p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row row-bottom-padded-md">
      <div class="col-lg-4 col-md-4 col-sm-6">
        <div class="fh5co-blog animate-box">
          <a href="#"><img class="img-responsive" src="assets/images/cover_bg_11.jpg" alt=""></a>
          <div class="blog-text">
            <div class="prod-title">
              <h3><a href="#">Medical Mission in Kenya</a></h3>
              <span class="posted_by">Sep. 15th</span>
              <span class="comment"><a href="">21<i class="icon-bubble2"></i></a></span>
              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the
                blind texts.</p>
              <p><a href="#">Learn More...</a></p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6">
        <div class="fh5co-blog animate-box">
          <a href="#"><img class="img-responsive" src="assets/images/cover_bg_14.jpg" alt=""></a>
          <div class="blog-text">
            <div class="prod-title">
              <h3><a href="#">How to Store food </a></h3>
              <span class="posted_by">Sep. 15th</span>
              <span class="comment"><a href="">21<i class="icon-bubble2"></i></a></span>
              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the
                blind texts.</p>
              <p><a href="#">Learn More...</a></p>
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix visible-sm-block"></div>
      <div class="col-lg-4 col-md-4 col-sm-6">
        <div class="fh5co-blog animate-box">
          <a href="#"><img class="img-responsive" src="assets/images/cover_bg_17.jpg" alt=""></a>
          <div class="blog-text">
            <div class="prod-title">
              <h3><a href="#">Food For Life</a></h3>
              <span class="posted_by">Sep. 15th</span>
              <span class="comment"><a href="">21<i class="icon-bubble2"></i></a></span>
              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the
                blind texts.</p>
              <p><a href="#">Learn More...</a></p>
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix visible-md-block"></div>
    </div>

    <div class="row">
      <div class="col-md-4 col-md-offset-4 text-center animate-box">
        <a href="/blog" class="btn btn-primary btn-lg">Our Blog</a>
      </div>
    </div>

  </div>
</div>
