<div class="fh5co-hero">
  <div class="fh5co-overlay"></div>
  <div class="fh5co-cover text-center" data-stellar-background-ratio="0.5"
    style="background-image: url(assets/images/cover_bg_17.jpg);">
    <div class="desc animate-box">
    </div>
  </div>
</div>

<div id="fh5co-blog-section" class="fh5co-section-gray">
  <div class="container">
    <form>
      <div class="row">
        <div class="col-md-12">
            <div style="text-align: center;">
            <h1 class="section-title">Donate Us</h1>
            <p>For A Good Cause</p>
            </div >

          <div class="col-md-6 text-center animate-box">
            <p><img src="assets/images/cover_bg_018.jpg" alt="Free HTML5 Bootstrap Template" class="img-responsive"></p>
          </div>
          <div class="col-md-6">
            <div class="col-md-6">
              <div class="form-group">

                <input type="text" class="form-control" placeholder="Name">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Email">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <select name="User_Type"
                  style="height: 50px; width: 100%; padding: 15px;  border: 1px solid rgba(0, 0, 0, 0.1);">
                  <option value="Donate Food">Donate Food</option>
                  <option value="Give In Honour">Give In Honour</option>
                  <option value="Give In Memory">Give In Memory</option>
                  <option value="Become A Monthly Donator">Become A Monthly Donator</option>
                  <option value="Farm Donation">Farm Donation</option>
                </select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <select name="User_Type"
                  style="height: 50px; width: 100%; padding: 15px;  border: 1px solid rgba(0, 0, 0, 0.1);">
                  <option value="Donate Food">Donate once</option>
                  <option value="Give In Honour">Doante Monthly</option>
                </select>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <select name="User_Type"
                  style="height: 50px; width: 100%; padding: 15px;  border: 1px solid rgba(0, 0, 0, 0.1);">
                  <option value="Donate Food">$ 10</option>
                  <option value="Give In Honour">$ 20</option>
                  <option value="Give In Honour">$ 50</option>
                  <option value="Give In Honour">$ 100</option>
                  <option value="Give In Honour">$ 500</option>
                  <option value="Give In Honour">$ 1000</option>
                </select>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Address">
              </div>
            </div>

            <div class="col-md-12">
              <div class="form-group">
                <input name="text" class="form-control" placeholder="Phone Number">
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <button onclick="myFunction()" style=" background-color:#00b964; color:#FFF;">Submit</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
    <br>
    <br><br>
    <div id="fh5co-contact" class="animate-box">
      <div class="container" style="padding:10px;">
        <div class="row">
          <div class="col-md-12 text-center heading-section">

            <h3 class="section-title">Donate for Smile</h3>
            <p> Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the
              blind texts.Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there
              live the blind texts.</p>
            <br>

          </div>
        </div>

      </div>



      <script>
        function myFunction() {
          alert("Site is Constructing please wait!");
        }

      </script>

      <!-- END fh5co-contact -->

      <!-- END map -->



    </div>
    <div style="text-align: center;">
      <a href="Sign%20in.html"><button class="log">LogIn</button></a></div>
  </div>
  <!-- END fh5co-page -->

</div>
