<div class="fh5co-hero">
  <div class="fh5co-overlay"></div>
  <div class="fh5co-cover text-center" data-stellar-background-ratio="0.5"
    style="background-image: url(assets/images/cover_bg_11.jpg);">
    <div class="desc animate-box">
      <h2>Our <strong>Blog &amp; News</strong></h2>
      <br>
      <br>
      <span><a class="btn btn-primary btn-lg" href="#">Donate Now</a></span>
    </div>
  </div>

</div>

<div id="fh5co-blog-section" class="fh5co-section-gray">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
        <h3><b>Read, Learn &amp; Share</b></h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit est facilis maiores, perspiciatis accusamus
          asperiores sint consequuntur debitis.</p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row row-bottom-padded-md">
      <div class="col-lg-4 col-md-4 col-sm-6">
        <div class="fh5co-blog animate-box">
          <a href="#"><img class="img-responsive" src="assets/images/cover_bg_12.jpg" alt=""></a>
          <div class="blog-text">
            <div class="prod-title">
              <h3><a href="#">Food For Life</a></h3>
              <span class="posted_by">Sep. 15th</span>
              <span class="comment"><a href="">21<i class="icon-bubble2"></i></a></span>
              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the
                blind texts.</p>
              <p><a href="#">Read More...</a></p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6">
        <div class="fh5co-blog animate-box">
          <a href="#"><img class="img-responsive" src="assets/images/cover_bg_13.jpg" alt=""></a>
          <div class="blog-text">
            <div class="prod-title">
              <h3><a href="#">Cookies for Kids' Cancer</a></h3>
              <span class="posted_by">Sep. 15th</span>
              <span class="comment"><a href="">21<i class="icon-bubble2"></i></a></span>
              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the
                blind texts.</p>
              <p><a href="#">Read More...</a></p>
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix visible-sm-block"></div>
      <div class="col-lg-4 col-md-4 col-sm-6">
        <div class="fh5co-blog animate-box">
          <a href="#"><img class="img-responsive" src="assets/images/cover_bg_2.jpg" alt=""></a>
          <div class="blog-text">
            <div class="prod-title">
              <h3><a href="#">Medical Mission in Kenya</a></h3>
              <span class="posted_by">Sep. 15th</span>
              <span class="comment"><a href="">21<i class="icon-bubble2"></i></a></span>
              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the
                blind texts.</p>
              <p><a href="#">Read More...</a></p>
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix visible-md-block"></div>
      <div class="col-lg-4 col-md-4 col-sm-6">
        <div class="fh5co-blog animate-box">
          <a href="#"><img class="img-responsive" src="assets/images/cover_bg_14.jpg" alt=""></a>
          <div class="blog-text">
            <div class="prod-title">
              <h3><a href="#">Best way to store food</a></h3>
              <span class="posted_by">Sep. 15th</span>
              <span class="comment"><a href="">21<i class="icon-bubble2"></i></a></span>
              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the
                blind texts.</p>
              <p><a href="#">Read More...</a></p>
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix visible-sm-block"></div>
      <div class="col-lg-4 col-md-4 col-sm-6">
        <div class="fh5co-blog animate-box">
          <a href="#"><img class="img-responsive" src="assets/images/cover_bg_15.jpg" alt=""></a>
          <div class="blog-text">
            <div class="prod-title">
              <h3><a href="#">Seven thing to know about </a></h3>
              <span class="posted_by">Sep. 15th</span>
              <span class="comment"><a href="">21<i class="icon-bubble2"></i></a></span>
              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the
                blind texts.</p>
              <p><a href="#">Read More...</a></p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6">
        <div class="fh5co-blog animate-box">
          <a href="#"><img class="img-responsive" src="assets/images/cover_bg_11.jpg" alt=""></a>
          <div class="blog-text">
            <div class="prod-title">
              <h3><a href="#">Host a “school dinner” night</a></h3>
              <span class="posted_by">Sep. 15th</span>
              <span class="comment"><a href="">21<i class="icon-bubble2"></i></a></span>
              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the
                blind texts.</p>
              <p><a href="#">Read More...</a></p>
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix visible-sm-block"></div>
      <div class="col-lg-4 col-md-4 col-sm-6">
        <div class="fh5co-blog animate-box">
          <a href="#"><img class="img-responsive" src="assets/images/cover_bg_13.jpg" alt=""></a>
          <div class="blog-text">
            <div class="prod-title">
              <h3><a href="#">Dining out for a good cause</a></h3>
              <span class="posted_by">Sep. 15th</span>
              <span class="comment"><a href="">21<i class="icon-bubble2"></i></a></span>
              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the
                blind texts.</p>
              <p><a href="#">Read More...</a></p>
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix visible-md-block"></div>
      <div class="col-lg-4 col-md-4 col-sm-6">
        <div class="fh5co-blog animate-box">
          <a href="#"><img class="img-responsive" src="assets/images/cover_bg_17.jpg" alt=""></a>
          <div class="blog-text">
            <div class="prod-title">
              <h3><a href="#">Sell baked goods at an event</a></h3>
              <span class="posted_by">Sep. 15th</span>
              <span class="comment"><a href="">21<i class="icon-bubble2"></i></a></span>
              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the
                blind texts.</p>
              <p><a href="#">Read More...</a></p>
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix visible-sm-block"></div>
      <div class="col-lg-4 col-md-4 col-sm-6">
        <div class="fh5co-blog animate-box">
          <a href="#"><img class="img-responsive" src="assets/images/cover_bg_1.jpg" alt=""></a>
          <div class="blog-text">
            <div class="prod-title">
              <h3><a href="#"> Ask your local cooking school </a></h3>
              <span class="posted_by">Sep. 15th</span>
              <span class="comment"><a href="">21<i class="icon-bubble2"></i></a></span>
              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the
                blind texts.</p>
              <p><a href="#">Read More...</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 col-md-offset-4 text-center animate-box">
        <a href="#" class="btn btn-primary btn-lg">Our Blog</a>
      </div>
    </div>

  </div>
</div>
